body {
background-color: rgba(46, 50, 44, 0.995);
color: rgb(235, 225, 225);
display: flex;
justify-content: center;
align-items: flex;
height: 10px;
margin: 2%;
}

button {
background-color: rgb(232, 250, 223);
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
text-align: center;
max-width: 73%;
}

img {
text-align: center;
max-width: 220%;

}